@import "tailwindcss";

:root {
  --color-primary: #FDEAD9;
  --color-secondary: #f3e0d2;
  --color-accent: #8b5a2b;

  --text-dark: #000000;
  --text-light: #ffffff;

  --background: var(--color-primary);
  --foreground: var(--text-dark);
}

.dark {
  --color-primary: #1f1f1f;
  --color-secondary: #373737;
  --color-accent: #8b5a2b; /* accent stays same or adjust if needed */

  --text-dark: #ffffff;
  --text-light: #000000;

  --background: var(--color-primary);
  --foreground: var(--text-dark);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
